.brief-title {
  font-size: 30px;
  color: #a2d79d;
  padding-left: 20px;
}

.brief-img {
  width: 45%;
  margin-left: 40px;
  margin-top: 30px;
}

.brief-p {
  width: 46%;
  margin-right: 30px;
  font-size: 25px;
  line-height: 45px;
}

.game-title {
  font-size: 30px;
  color: #a2d79d;
  padding-left: 20px;
  margin-top: 20px;
}

.game ul {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.game ul li {
  float: left;
  width: 24%;
}

.game ul li img {
  width: 100%;
}

.main-footer {
  text-align: center;
}
